<h1>Listing products</h1>
<% if @creation.image? %>
	<%= image_tag @creation.image.url %>
	<br />
	<%= link_to @creation.imge.url, @creation.image.url %>
<br />
<% end %>
<%-#= link_to 'New Product', new_product_path -%>