<div class="header_bg" id="home"><!-- start header -->
<div class="container">
  <div class="row header text-center specials">
    <div class="h_logo">
      <a href="index.html"><img src="/assets/logo.png" alt="" class="responsive"/></a>
    </div>
    <nav class="top-nav">
      <ul class="top-nav nav_list">
        <li class="page-scroll"><a href="/#buynow">buy now</a></li>
        <li class="page-scroll"><a href="/#reviews">reviews&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
        <li class="logo page-scroll"><a href="/#buynow"><img src="/assets/logo.png" alt="" class="responsive"/></a></li>
        <li class="page-scroll"><a href="/creations">Community Collections</a></li>
      </ul>
      <a href="#" id="pull"><img src="/assets/nav-icon.png" title="menu" /></a>
    </nav>
    <div class="clearfix"></div>
  </div>
</div>
</div>