<div class="slider_bg"><!-- start slider -->
<div class="container">
		<div class="row slider">
		<div class="wmuSlider example1"><!-- start wmuSlider example1 -->
			   <div class="wmuSliderWrapper">
				   <article style="position: absolute; width: 100%; opacity: 0;"> 
				  	 	<div class="slider_img text-center">
				   			<ul class="list-unstyled list_imgs">
				   				<li><img src="/assets/slider.jpg" alt="" class="responsive"/></li>
				   			</ul>
			           	</div>
				   </article>
				   <!-- <article style="position: relative; width: 100%; opacity: 1;"> 
				  	 	<div class="slider_img text-center">
				   			<ul class="list-unstyled list_imgs">
				   				<li><img src="/assets/slider1.jpg" alt="" class="responsive"/></li>
				   			</ul>
			           	</div>
				   </article> -->
				 </div>
                <ul class="wmuSliderPagination">
                	<li><a href="#" class="">0</a></li>
                	<!-- <li><a href="#" class="">1</a></li> -->
                </ul>
			<script src="/assets/jquery.wmuSlider.js"></script> 
		     <script>
				 $('.example1').wmuSlider();         
			</script>
        </div><!-- end wmuSlider example1 -->
        <div class="clearfix"></div>
      </div>
</div>
</div>
<div class="main_bg"  id="buynow"><!-- start buy now -->
<div class="container">
	<div class="row about">
		<div class="col-md-3 about_img">
			<img src="/assets/boxes.png" alt="" class="responsive"/>
		</div>
		<div class="col-md-9 about_text">
			<h3>Lynx Toys</h3>
			<h4>Creation! Innovation! Imagination!</h4>
			<p>Use your noodles to build anything! Each box of Lynx includes 12 connectors. Fun for in <b>and</b> out of the pool &#8211; use your noodles all year long!<br><br></p>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="KAWQAQ68WXXS2">
				<input type="image" src="/assets/buynow.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>

			<div class="soc_icons navbar-right">
				<ul class="list-unstyled text-center">
					<li><a href="http://www.facebook.com/lynxtoysllc"><i class="fa fa-facebook"></i></a></li>
					<li><a href="http://www.instagram.com/lynxtoys"><i class="fa fa-instagram"></i></a></li>
					<li><a href="http://www.twitter.com/lynxtoys"><i class="fa fa-twitter"></i></a></li>
					<li><a href="http://www.linkedin.com/company/lynx-toys"><i class="fa fa-linkedin"></i></a></li>
				</ul>	
			</div>
		</div>
	</div>
</div>
</div>

<div class="footer_bg" id="reviews"><!-- start footer (reviews) -->
<div class="container">
		<div class="col-md-8 contact_left">
			<br><br>
			<h3>It is an amazing idea!</h3>
			<p>"I bought a set before Christmas and took them to my grandchildren in Singapore where they can swim everyday in 86 degree weather. They loved them." - Rodney H.</h4><br><br>
			<h3>Great toy!</h3>
			<p>"This is one of my favorite new outdoor toys. I live in Texas and am usually beat by the heat, but this toy lets me get out side and be creative. I would highly recommend this toy to everyone with a pool in their backyard." - Jake W.</h4><br><br>
			<h3>Five stars!</h3>
			<p>"Kids had a blast." - Suzanne P.</h4><br><br>
		</div>
		<div class="col-md-4  contact_right">
			<img src="/assets/lynx-part.png">
		</div>		
</div>
</div>